@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #6120D8;
    --secondary-color: #cc20d8;
    --black: #000000;
    --white: #ffffff;
}

* {
    font-family: 'Inter', sans-serif;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    position: fixed;
    padding: 1em 2.5em;

    overflow: hidden;
    z-index: 500;
}

#name {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--black);
}

.name {
    opacity: 0;
    transition: all 1000ms ease-in;

}

.name-move {
    opacity: 1;
    /* transform: translateX(1.5em); */
}

#hamburger {
    width: 16px;

    position: absolute;
    top: 1em;
    right: 2.5em;
}

.bar {
    fill: var(--black);
}

/* universal */
.color-it {
    color: var(--primary-color);
}

.hero-section {
    position: relative;
    /* height: calc(100vh - 50px); */
    height: 100vh;
    /* filter: drop-shadow(176px 70px 53px rgba(0, 0, 0, 0.01)) drop-shadow(113px 45px 48px rgba(0, 0, 0, 0.04)) drop-shadow(63px 25px 41px rgba(0, 0, 0, 0.15)) drop-shadow(28px 11px 30px rgba(0, 0, 0, 0.26)) drop-shadow(7px 3px 17px rgba(0, 0, 0, 0.29)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3)) */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    margin: 1em 2.5em;
    position: absolute;
    left: 20vw;
    top: 30vh;

    opacity: 0;
    transition: all 1s ease;
}

.revealup {
    opacity: 1;
    transform: translateY(-5vh);
}

a {
    text-decoration: none;
}

.hero-content-text {
    z-index: 10;
}

.hero-content-illustration {
    z-index: -10;

    position: absolute;
    top: -50%;
    left: 130%;

    opacity: 0;
    transition: all 1000ms ease;
}

#illustration {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background: url(../img/project.jpg);
    background-size: cover;
}

.illustration-move {
    opacity: 1;
    transform: translateX(-25%);
}

.hero-h1 {
    font-size: 52px;
    font-weight: 900;
}

.hero-p {
    font-size: 32px;
    font-weight: 900;
    color: var(--primary-color);
}

#hero-btn-2 {
    float: right;
}

.btn-1 {
    display: inline-block;
    margin-top: 22px;
    position: relative;

    border: 3px solid var(--primary-color);
    background: none;

    min-width: 18em;
    padding: 0.6em 3em;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

}

.btn-1::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: var(--primary-color);

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-1:hover:before,
.btn-1:focus:before {
    transform: scaleY(1);
}

.btn-1:hover,
.btn-1:focus {
    color: var(--white);
}

/* button 2 */

.btn-2 {
    margin-top: 1.5em;
    position: relative;

    border: 3px solid var(--primary-color);
    background: none;

    width: 80%;
    border-radius: 2em;
    padding: 0.6em 3em;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

}

.btn-2::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    border-radius: 2em;

    background: var(--primary-color);

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-2:hover:before,
.btn-2:focus:before {
    transform: scaleY(1);
}

.btn-2:hover,
.btn-2:focus {
    color: var(--white);
}

@media only screen and (max-width: 750px) {

    /* .hero-content {
        left: 5vw;
    } */

    .hero-h1 {
        font-size: 35.75px;

    }

    .hero-p {
        font-size: 22px;

        color: var(--primary-color);
    }

    .btn-1 {
        display: block;
        width: 100%;
    }



}

.main-content-area {
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--white);
}

.section {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.about-me {
    width: 100%;
    height: 100%;
}

#about-me-image {
    height: 7em;
    width: 7em;

    border-radius: 50%;

    background: url(../gfx/img/author.png);
    background-size: cover;

    display: block;
    float: left;

}

.about-me-text {
    width: calc(100% - 9.5em);
    overflow: hidden;
    margin-left: 2.5em;
    display: inline-block;
}

.title {
    font-size: 18px;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
}

.description {
    margin-top: 0.5em;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--black);
    text-transform: none;
}

.description a {
    color: var(--primary-color);
}

.description a:hover {
    color: var(--secondary-color);
}

.cathegories-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8em;
    margin-top: 2em;
}

.cathegory {
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.cathegory .description {
    margin-top: 1em;
}

.cathegory-icon {
    width: 55px;
    height: 55px;
    margin: 1.5em;
    text-align: center;
}

#projects {

    height: 100%;
    width: 100%;
    position: relative;
    padding: 2.5em;
}

.image-holder {
    position: relative;
}

.btn-3 {

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--white);
    border: 3px solid var(--white);
    background: none;

    min-width: 18em;
    padding: 0.6em 3em;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 500;

    transition: all 350ms ease;
    opacity: 1;
}

.btn-3::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: var(--white);

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-3:hover:before,
.btn-3:focus:before {
    transform: scaleY(1);
}

.btn-3:hover,
.btn-3:focus {
    color: var(--black);
}

.content-area {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2.5em;
}

.text-holder {
    /* margin-top: 2.5em; */

    position: relative;
    text-align: center;
}

.projects-list {
    width: 75%;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 2.5em;
}

.project-image {
    height: 25em;
    width: 25em;

    border-radius: 1.5em;
    display: block;

    background: url(../gfx/img/project.jpg);
    background-size: cover;

    transition: all 1000ms ease;
}

.hidden {
    opacity: 0;
}

.darken {
    filter: brightness(30%) grayscale(1);
}

.bold {
    text-transform: uppercase;
    font-weight: 800;
}

.featured {
    position: absolute;
    bottom: 3.5em;
    left: -2em;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.button-handler {
    width: 50%;
}

.project-name,
.technology {
    margin-top: 1em;
}

.project-name {
    float: left;
}

.technology {
    float: right;
    color: var(--primary-color);
}

.button-handler button {
    display: block;
    width: 40%;
}

footer {
    text-align: center;
    text-transform: capitalize;
    padding: 4em;
    margin-top: 2.5em;

    background: #f2f2f2;
}

.arr {
    color: var(--primary-color);
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

.reveal {
    opacity: 0;
    transition: all 1s ease-in;
}

.reveal.active {
    transform: translateY(-60px);
    opacity: 1;
}