@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #6120D8;
    --secondary-color: #20ccd8;
}

/* || General styles */

*,
*::before,
*::after {
    font-family: 'Inter', '', sans-serif;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    overflow: hidden;
}

.color-it {
    color: var(--primary-color);
}

a {
    margin: 0;
}

.title {
    font-size: 1.5em;
    /*previously 18px */
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
}

.description {
    font-size: 16px;
    font-weight: 500;
    text-transform: none;

    margin-top: 0.5em;
}

.description a {
    color: var(--primary-color);
}

.description a:hover {
    color: var(--secondary-color);
}


/* || Header and Main Navigation */

header {
    width: 100%;
    position: fixed;
    padding: 1em 2.5em;

    overflow: hidden;
    z-index: 500;
}

#name {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;

}

#hamburger {
    width: 16px;

    position: absolute;
    top: 1em;
    right: 2.5em;
}

.bar {
    fill: black;
}

.bar-hover {
    fill: var(--primary-color);
}

/* || Hud */

.hud {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#arrow {
    margin-bottom: 5%;
    animation-name: floatingAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* || Hero Section */

.hero-section {
    position: relative;
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.hero-content h1 {
    font-size: 52px;
    font-weight: 900;
}

.hero-content p {
    font-size: 32px;
    font-weight: 900;
    color: var(--primary-color);
}

.hero-content .btn-1 {
    min-width: 18em;
}

.hero-content-buttons {
    display: flex;
    justify-content: space-between;
}

#illustration {
    width: 300px;
    height: 300px;
}

/* || Buttons and links */

a {
    text-decoration: none;
}

button {
    margin-top: 22px;
    position: relative;
}

.btn-1 {
    border: 3px solid var(--primary-color);
    background: none;

    padding: 0.6em 3em;
    line-height: 23px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

}

.btn-1::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: var(--primary-color);

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-1:hover:before,
.btn-1:focus:before {
    transform: scaleY(1);
}

.btn-1:hover,
.btn-1:focus {
    color: white;
}

.btn-2 {
    margin-top: 1.5em;
    position: relative;

    border: 3px solid var(--primary-color);
    background: none;

    width: 80%;
    border-radius: 2em;
    padding: 0.6em 3em;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

}

.btn-2::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    border-radius: 2em;

    background: var(--primary-color);

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-2:hover:before,
.btn-2:focus:before {
    transform: scaleY(1);
}

.btn-2:hover,
.btn-2:focus {
    color: white;
}


.btn-3 {

    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;

    border: 3px solid white;
    background: none;

    min-width: 18em;
    padding: 0.6em 3em;
    line-height: 19px;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 500;

    transition: all 350ms ease;
    opacity: 1;
}

.btn-3::before {
    content: "";
    /* cover entire button */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: white;

    transition: transform 150ms ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;

}

.btn-3:hover:before,
.btn-3:focus:before {
    transform: scaleY(1);
}

.btn-3:hover,
.btn-3:focus {
    color: black;
}

/* || Main Content Area */

.content-section {
    position: relative;
    margin: 2.5em 0em;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.section {
    width: 55%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

.section * {
    margin: 0;
}

/* || About me */

#about-me {
    min-width: 740px;
}

#author-image {
    height: 6em;
    width: 6em;

    border-radius: 50%;

    background: url(../gfx/img/author.png);
    background-size: cover;
}

#author-text {
    width: 80%;
    overflow: hidden;
}

#author-text p {
    margin-top: 0.5em;
}

/* || Cathegories */

#cathegories {
    align-items: center;
    max-width: 900px;
    min-width: 600px;
}

.cathegory {
    position: relative;
    text-align: center;
    box-sizing: border-box;

    height: 90%;

    overflow: hidden;
    box-sizing: border-box;
}

.cathegory button {
    width: 100% auto;

    margin-top: 25px;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;

    z-index: 500;
}


.cathegory .description {
    margin-top: 1em;
}

.cathegory-icon {
    width: 55px;
    height: 55px;
    margin: 1.5em;
    text-align: center;
}

/* || Projects */

#projects {
    margin-top: 10em;
}

.headline {
    max-width: 80%;
    text-align: center;
}

.projects-list {
    width: 90%;
    padding: 2.5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

/* || Project Tiles */

.project {
    position: relative;
    text-align: left;
    margin: 2.5em;
}

.image-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-image {
    height: 25em;
    width: 25em;

    border-radius: 1.5em;
    display: block;

    background: url(../gfx/img/project.jpg);
    background-size: cover;

    transition: all 1000ms ease;
}

.featured {
    position: absolute;
    bottom: 3.5em;
    left: -2em;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
}

.project-name,
.technology {
    margin-top: 1em;
}

.project-name {
    float: left;
}

.technology {
    float: right;
    color: var(--primary-color);
}

.bottom-buttons {
    padding: 2.5em 0em;
    width: 60%;
}

.bottom-buttons button {
    display: block;
    width: 30em;
}

footer {
    text-align: center;
    text-transform: capitalize;
    padding: 4em;
    margin-top: 2.5em;

    background: #f2f2f2;
}

/* || Animations Classes */

.darken {
    filter: brightness(30%) grayscale(1);
}

.bold {
    text-transform: uppercase;
    font-weight: 800;
}

.anim {
    opacity: 0;
    transition: all 1000ms ease-in;
}

.anim.active {
    opacity: 1;
}

.anim.revealup {
    opacity: 1;
    transform: translateY(-5vh);
}

.anim.illustration {
    opacity: 1;
    transform: translateX(-25%);
}

/* || Mobile View */

@media only screen and (max-width: 960px) {

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    #main {
        height: 100%;
    }

    .hero-header {
        order: 2;
    }

    .section {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .cathegory {
        width: 55%;
    }

    .cathegory button {
        width: 100% auto;

        position: relative;
        margin-top: 25px;

        z-index: 500;
    }

    #projects {
        margin-top: 5em;
    }

    .bottom-buttons button {
        display: block;
        width: 20em;
    }

}

@media only screen and (max-width: 760px) {


    .content-section {
        width: 100%;
    }

    .hero-section {
        width: 100%;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .title {
        font-size: 1.5em;
    }

    .description {
        font-size: 16px;
        line-height: 23px;
    }

    #about-me .description {
        text-align: justify;
    }

    .hero-content .btn-1 {
        width: 100%;
        font-size: 14px;
    }

    .hero-content-buttons {
        display: flex;
        flex-direction: column;
    }

    #about-me,
    #cathegories {
        min-width: 100%;
    }

    #cathegories button {}


    #illustration {
        width: 250px;
        height: 250px;
    }

    .default-image {
        height: 15em;
        width: 15em;
    }

    .bottom-buttons {
        width: auto;
    }

    .btn-3 {
        min-width: 100px;
    }

}

/* || Arrows and Css Icons */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg)
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 150ms ease-in-out;
}

/* || Animations */

@keyframes floatingAnim {
    from {
        opacity: 0;
        transform: translateY(-1em);
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    50% {
        opacity: 1;
        transform-origin: center;
        transform: translateY(2em) rotate(45deg);


    }

    100% {
        transform: translateY(0em) rotate(45deg);
        opacity: 0;
    }
}